@import "tailwindcss";
@plugin "daisyui";

:root {
  --black: #0A0A0A;
  --white: #FFFFFF;
  --gold: #C9A84C;
  --gold-light: #E8D5A3;
  --stone: #F5F3EF;
  --mid: #6B6B6B;
  --light: #AFAFAF;
  --border: #E2E0DB;

  --display: var(--font-playfair);
  --body: var(--font-inter);
}

body {
  font-family: var(--font-body);
  background: var(--white);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}